<?xml version="1.0" ?>
<model>
    <name>simpleU</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Shivang Tripathi</name>
        <email>xshivangx@gmail.com</email>
    </author>
    <description>Simple U world for home service robot.</description>
</model>
